.menu-bar {
    height: 20px;
    background-color: #FFF;
    width: 100%;
    font-family: 'Chicago', sans-serif;
    font-size: 14px;
    border-radius: 8px 8px 0 0;
}

.menu-img {
    margin-top: 8px !important;
}

.menu-bar span {
    margin: 5px 10px;
}

.menu-icon {
    width: 16px;
    height: 16px;
}

